@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    animation: rotate 1.5s ease-in infinite alternate;
}

.loader::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    color: #D5734E;
    background: currentColor;
    width: 64px;
    height: 32px;
    border-radius: 0 0 50px 50px;
}

.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 10%;
    background: #F3BC77;
    width: 8px;
    height: 64px;
    animation: rotate 1.2s linear infinite alternate-reverse;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

.gradient-background {
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}